@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", ;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  background-color: #f2f2f2;
  color: #000000;
}

.button {
  font-family: "PT Sans";
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.container-body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  width: 1200px;

}

.page-header {
  display: flex;
  margin: 0 70px 0 70px;
  align-items: center;
}

.main-logo {
  margin-right: 28px;
  z-index: 1;
}

.main-logo-image {
  display: block;
  margin-bottom: -6px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  margin-left: auto;
  flex-wrap: wrap;
  margin-right: 20px;
}

.navigation-link.navigation-user {
  display: block;
  min-width: 24px;
  min-height: 44px;
}

.navigation-item {
  outline: 2px solid green;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

.favorite-qty {
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.button-header {
  padding: 8px 34px;
}

.main {
  flex-grow: 1;
}

.hero {
  background-image: url(../images/background-divider.svg), url("../images/background-hero-sq.jpg");
  background-position: center bottom, center;
  background-color: #7b6257;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
  margin-bottom: 64px;
}

.advantages-title {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}


.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.advantages-item-wide {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.advantages-item-desc {
  margin: 0;
}

.item-wide-conteiner {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.advantages-img {
  display: block;
}

.servises {
  text-align: center;
  margin-bottom: 96px;
}

.servises-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.servises-desc {
  margin: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
}

.servises-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.servises-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}

.servises-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 185px;
}

.servises-item-light {
  background-color: inherit;
}

.servises-item-desc {
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.search-request {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search-title {
  margin-bottom: 20px;
}

.search-desc {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

.search-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  display: block;
}

.subscription {
  background-image: url(../images/background-subscribe-sq.jpg);
  background-color: rgba(130, 179, 211, 0.5);
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-title {
  padding-top: 96px;
  margin-bottom: 20px;
}

.subscription-desc {
  margin: 0;
  margin-bottom: 54px;
  padding-left: 350px;
  padding-right: 350px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.subscription-form-email {
  margin: 0;
}

.subscription-input {
  width: 452px;
  min-height: 52px;
  margin: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.subscription-button {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;
  width: 232px;
  height: 52px;
}

.subscription-input {
  font-family: "PT Sans";
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 70px 35px 70px;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-navigation-item {
  min-width: 47px;
  min-height: 40px;
  outline: 2px solid green;
}

.footer-telephone {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}

.copyright {
  padding-top: 8px;
  ;
}

/* Каталог */

.hero-header {
  margin: 0;
  margin-bottom: 40px;
}

.catalog-hero {
  background-image: url(../images/background-filter.jpg);
  background-size: cover;
  background-color: rgb(116, 116, 116);
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 23px;
  padding: 0 70px;
  margin-bottom: 50px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
  padding-top: 35px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 28px;
}

.breadcrumbs-item {
  outline: 1px solid red;
  min-width: 12px;
}

.breadcrumbs-link {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

/* .filter {
} */

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid green;
  margin-right: 70px;
  margin-bottom: 70px;
}

.last-filter {
  margin-left: 70px;
}


.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.control-input-text {
  font-size: 18px;
  line-height: 23px;
  padding-left: 16px;
}

.filter-checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-checkbox-item:not(:last-child) {
  padding-bottom: 16px;
}

.filter-radio-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-radio-item:not(:last-child) {
  padding-bottom: 16px;
}

.control-filter-cost {
  display: block;
}

.filter-cost-item {
  display: flex;
}

.filter-cost-item:not(:last-child) {
  margin-bottom: 36px;
}

.filter-cost-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-cost-input-left {
  width: 143px;
  height: 48px;
  margin: 0;
  margin-right: 2px;
  padding-left: 20px;
}

.filter-cost-input-right {
  width: 143px;
  height: 48px;
  margin: 0;
  padding-left: 20px;
}

.filter-button-apply {
  background-color: rgba(130, 179, 211, 1);
  width: 191px;
  height: 36px;
  border: none;
}

.filter-button-reset {
  background: none;
  width: 191px;
  height: 36px;
  border: none;
}

.container-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  gap: 32px;
}

.catalog {
  margin: 0 70px;
}

.catalog-header {
  display: flex;
  align-items: center;
}

.catalog-select {
  background-color: rgba(255, 255, 255, 1);
  margin-left: auto;
  width: 292px;
  height: 49px;
}

.card-view-list {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-view-item {
  outline: 1px solid red;
}

.button-view {
  /* display: block; */
  min-width: 48px;
  min-height: 48px;
  border: none;
}

.catalog-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-card-item {
  width: 340px;
}

.catalog-card-link-title {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.catalog-card-button {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.active-favorit {
  background-color: rgba(125, 181, 79, 1);
}

.catalog-card-rating {
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item-button {
  background-color: rgba(130, 179, 211, 1);
}

.active-pagination {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.dont-button {
  background-color: rgba(130, 179, 211, 0);
}

.subscription-light {
  background-image: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.as {
  margin: 0;
}
