@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", ;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

/*.page-header {

}*/

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align: center;
}

.button {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  background-image: url(../images/background-divider.svg), url("../images/background-hero-sq.jpg");
  background-position: bottom;
  background-color: rgba(130, 179, 211, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-logo {}

.advantages {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-middle {
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-item-wide {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.servises {
  text-align: center;
}

.servises-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-request {
  text-align: center;
}

.search-desc {
  font-size: 22px;
  line-height: 26px;
}

.search-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription {
  background-image: url(../images/background-subscribe-sq.jpg);
  background-color: rgba(130, 179, 211, 0.5);
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-button {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-telephone {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}

/* Каталог */

.catalog-hero {
  background-image: url(../images/background-filter.jpg);
  background-size: cover;
  background-color: rgb(116, 116, 116);
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 23px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-button-apply {
  background-color: rgba(130, 179, 211, 1);
}

.filter-button-reset {
  background: none;
}

.catalog-card-link-title {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.catalog-card-button {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.active-favorit {
  background-color: rgba(125, 181, 79, 1);
}

.catalog-card-rating {
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-item-button {
  background-color: rgba(130, 179, 211, 1);
}

.active-pagination {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.dont-button {
  background-color: rgba(130, 179, 211, 0);
}

.subscription-light {
  background-image: none;
  color: rgba(0, 0, 0, 1);
}

.as {
  margin: 0;
}